# To use environment variables in the web app, you'll need to create a .env file in the root of the project.
# A symlink to the .env file in the root of the project should be created in the web app.

# .env -> ../../.env

# You can use the following command to create a symlink:

# cd apps/web
# ln -s ../../.env .env
