# Depends on environment, defaults to `127.0.0.1:8787` in development.

PUBLIC_API_HOST=127.0.0.1:8787

# Depends on environment, defaults to `ws` in development and `wss` in production.

PUBLIC_API_PROTOCOL=ws
